html {
  font-size: 18px;
  color: white;
  font-family: Helvetica;
}
.navm-container {
  display: none;
}
/* ============ HEADER ================ */
.header-container {
  background-color: black;

}
.header-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: auto;
}
.header-flex-container span {
  padding: 0.66rem 0px 0.66rem 0px;
  font-size: 1rem;
  float: right;
}
.header-flex-container img {
  padding: 0.33rem 1rem 0px 0.5rem;
  height: 1.5rem;
  align-items: center;
}

/* ============ SLIDER ================ */

.slider-flex-container {
  height: 25rem;
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  display: block;
  background-image: url("img/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  width: 100%;
  height: 100%;

}
.text-block {
  margin: 9rem 0 0 0;
  background-color: black;
  width: 20rem;
  height: auto;
}

.pre-title {
 margin: 2rem 0rem 0.25rem 3rem;
 font-size: 1rem;
 font-weight: bold;
 text-transform: uppercase;
}
.title {
margin:  0rem 0rem 2rem 3rem;
font-size: 2rem;
font-weight: bold;
text-transform: uppercase;
}

/* ============ Navigation Bar ================ */
.nav-bar {
  width: 100%;
  background-color: firebrick;
  height: auto;

}
.nav-container {
  width: 960px;
  margin: auto auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-container span{
  display: block;
  padding: 0.75rem 0rem 0.75rem 0rem;
  height: auto;
}

/* ============ Products ================ */

.product-container {
  margin: 3rem auto 0 auto;
  width: 100%;
  background-color: white;
}

.product-flexbox {
  width: 960px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-flexbox-text {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;

}
.product-flexbox-item img {
  height: 9rem;
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  object-fit: contain;
}
.product-flexbox-item {
  justify-content: space-between;
  display: block;
  width: 30%;
}

.product-flexbox-text-hides{
  width: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;

}
.product-flexbox-item-hides img {
  height: 9rem;
  display: block;
  margin: 2rem auto;
  max-width: 100%;

  object-fit: contain;
}
.product-flexbox-item-hides {
  justify-content: space-between;
  display: block;
  width: 30%;
}

.product-flexbox-text-hides2 {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;

}
.product-flexbox-item-hides2 img {
  height: 9rem;
  display: block;
  margin: 2rem auto;
  max-width: 100%;

  object-fit: contain;
}
.product-flexbox-item-hides2 {
  justify-content: space-between;
  display: block;
  width: 30%;
}

.product-flexbox #store-info{
  display: block;
  width: 35%;
    background-color: black;
    margin: 3rem 0px 0px 0px;
    /* margin: 3rem auto 4rem auto; */
    padding: 1rem 0rem 1rem 2rem;
}
.product-flexbox #store-info-details{
  display: block;
  width: 35%;
    color: black;
    margin: 0rem 0px 0px 0px;
    /* margin: 3rem auto 4rem auto; */
    padding: 0rem 2rem 0rem 0rem;
}


.product-flexbox #product-images {
  border: 4px solid black;
}

.product-flexbox-item #text {
  padding: 0.5rem 0rem;
  display: block;
  text-align: center;
  background-color: black;
}
.product-flexbox-item-hides #text {
  padding: 0.5rem 0rem;
  display: block;
  text-align: center;
  background-color: black;
}
.product-flexbox-item-hides2 #text {
  padding: 0.5rem 0rem;
  display: block;
  text-align: center;
  background-color: black;
}

.product-flexbox-itemm {
  color: black;
  display: none;
}

.footer {
  height: 5rem;
  align-content: center;
  background-color: black;
  margin: 4rem auto 0 auto;
  justify-content: center;
  width: 100%
}

.footer span {
  display: block;
  width: 960px;
  line-height: 5rem;
  margin: auto;
}

@media only screen and (max-width:1024px) {

  .header-flex-container {
    width: 100%;

  }
  .header-flex-container span {
    padding: 0.66rem 0px 0.66rem 0px;
    font-size: 1rem;
    margin: 0 395px 0 0px;
    width: auto;
    float: right;
  }
  .header-flex-container img {
    padding: 0.33rem 1rem 0px 0.5rem;
    height: 1.5rem;
    align-items: center;
    float: left;
  }


  .slider-flex-container {

    width: 0px;

  }

  .navm-container {
    width: 100%;
    margin: auto auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navm-container span{
    display: block;
    padding: 0.75rem 0rem 0.75rem 0rem;
    height: auto;
  }
  .nav-container {
    width: 0px;

  }
  .product-flexbox {
    width: auto;

  }
  .product-flexbox-text {
    width: 960px;


  }

  /* ============ SLIDER ================ */

  .slider-flex-container {
    height: 25rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .image-container {
    display: block;
    background-image: url("img/moto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    width: 100%;
    height: 100%;

  }
  .text-block {
    margin: 9rem 0px 0 0;
    background-color: black;
    width: 20rem;
    height: auto;
  }

  .pre-title {
   margin: 2rem 0rem 0.25rem 3rem;
   font-size: 1rem;
   font-weight: bold;
   text-transform: uppercase;
  }
  .title {
  margin:  0rem 0rem 2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  }


  .nav-container {
    display: none;
  }
  .product-flexbox-item-hides {
    display: none;
  }
  .product-flexbox-item {
    justify-content: space-between;
    display: block;
    width: 45%;
    margin: 0px 25px
  }
  .product-flexbox #store-info {
    justify-content: space-between;
    display: block;
    margin: 3rem auto 0 auto;
    padding: 1rem 50px;

  }
  .product-flexbox #store-info-details{
      color: black;
      margin: 0rem 90px 0px 20px;
      /* margin: 3rem auto 4rem auto; */

  }
  .footer span {

    width: 75%;

  }
}
@media only screen and (max-width:736px) {
  .header-flex-container span {
    padding: 0.66rem 0px 0.66rem 0px;
    font-size: 1rem;
    margin: 0 295px 0 0px;
    width: auto;
    float: right;
  }
}
@media only screen and (max-width:631px) {
  .header-flex-container span {
    padding: 0.66rem 0px 0.66rem 0px;
    font-size: 1rem;
    margin: 0 125px 0 0px;
    width: auto;
    float: right;
  }
}


  @media only screen and (max-width:470px) {
    .header-flex-container span {
      padding: 0.66rem 0px 0.66rem 0px;
      font-size: 1rem;
      margin: 0 95px 0 0px;
      width: auto;
      float: right;
    }


    /* ============ SLIDER ================ */

    .slider-flex-container {
      height: 15rem;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }
    .image-container {
      display: block;
      background-image: url("img/moto.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      overflow: visible;
      width: auto;
      height: 100%;

    }
    .text-block {
      margin: 10rem 0px 0 0;
      background-color: black;
      width: 100%;
      height: auto;
    }

    .pre-title {
     margin: 1rem 0rem 0.25rem 1rem;
     font-size: 0.77rem;
     font-weight: bold;
     text-transform: uppercase;
    }
    .title {
    margin:  0rem 0rem 1rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    }

    .product-flexbox-item-hides2 {
      display: none;
    }
    .product-flexbox {
      width: 100%;
    }
    .product-flexbox-item {
      justify-content: space-between;
      display: block;
      width: 80%;
      margin: 0px 25px
    }
    .product-flexbox #store-info{

      width: 100%;
        background-color: black;
        margin: 3rem 0px 0px 0px;
        /* margin: 3rem auto 4rem auto; */
        padding: 1rem 0rem 1rem 2rem;
    }
    .product-container #store-info{

      justify-content: center;
      display: block;
      width: auto;
      margin: 3rem 0px 0px 0px;
      /* margin: 3rem auto 4rem auto; */
      padding: 0rem 2rem 0rem 0rem;
    }
    .product-flexbox #store-info {
      justify-content: space-between;
      width: 100%;
      color: white;
      display: block;
      margin: 3rem auto 0 auto;
      padding: 1rem 50px;

    }
    .product-flexbox #store-info-details{
        display: none;
        /* margin: 3rem auto 4rem auto; */

    }

    .product-flexbox-itemm {
      color: black;
      display: block;
    }



}
